.App {
  text-align: center;
  padding: 1rem;
}

.section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-content: stretch;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.block {
  border: 1px solid black;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Section A */

.section-a > .block {
  width: calc(50% - 0.5rem);
  height: calc(50vw - 1.5rem);
}

.section-a > .right {
  display: flex;
  flex-wrap: wrap;
  width: calc(50% - 0.5rem);
  justify-content: space-between;
  align-content: space-between;
}

.section-a > .right > .block:nth-child(1) {
  width: 100%;
  height: calc(25vw - 1.25rem);
}

.section-a > .right > .block:nth-child(2) {
  width: calc(50% - 0.5rem);
  height: calc(25vw - 1.25rem);
}

.section-a > .right > .block:nth-child(3) {
  width: calc(50% - 0.5rem);
  height: calc(25vw - 1.25rem);
}

/* Section B */

.section-b > .left, .section-b > .block, .section-b > .right {
  width: calc(33% - 0.5rem);
}

.section-b > .left, .section-b > .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-b > .left {
  order: 1;
}

.section-b > .left > .block:nth-child(1) {
  height: calc(11vw - 0.5rem);
}

.section-b > .left > .block:nth-child(2) {
  height: calc(22vw - 0.5rem);
}

.section-b > .block {
  order: 2;
  height: calc(33vw);
}

.section-b > .right {
  order: 3;
}

.section-b > .right > .block:nth-child(1) {
  height: calc(22vw - 0.5rem);
}

.section-b > .right > .block:nth-child(2) {
  height: calc(11vw - 0.5rem);
}

@media only screen and (max-width: 600px) {
  .section {
    margin-bottom: 0;
  }

  .block {
    margin-bottom: 1rem;
    height: calc(25vw - 1.25rem) !important;
  }

  /* Section A */

  .section-a > .block, .section-a > .right {
    width: 100%;
  }

  .section-a > .right {
    flex-wrap: wrap-reverse;
  }

  /* Section B */

  .section-b > .block {
    order: 1;
    width: 100%;
  }

  .section-b > .left, .section-b > .right {
    width: calc(50% - 0.5rem);
  }

  .section-b > .left {
    order: 2;
  }
}
